<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.230219.83348-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230219.73454-sym" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.230227.141902-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.230317.145952-sym" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.230211.165852-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.230204.111417-sym" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.230326.101618-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.230318.123603-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.230321.135854-sym" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.230107.122025-sym" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.220728.140313" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.230206.161540-sym" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.230324.123201-sym" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.230327.163931-sym" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
</packages>